body {
  padding:0;
  margin:10;
  font-family: 'Times New Roman';
  font-size:12px;
}


input.mail {
  background-color: #EAE7E1;
  border: 1px solid #857061;
  width: 147px;
}

.bouton_classique {
  border:1px solid #000;
  background-color:#d9d2bf;
  display: table;
  margin:auto;
}

.bouton_classique:hover {
  -moz-box-shadow:0 0 3px #000 inset;
  -webkit-box-shadow:0 0 3px #000 inset;
  box-shadow:0 0 3px #000 inset;
}

.bouton_classique2 {
  border: 1px solid #cac3b1;
  margin: 1px 2px 1px 2px;
  padding:0px 3px 0px 3px;
  font-size:1.2em;
  color:#0c0400;
  background-image:linear-gradient(#f0e9d6, #d2c9ac); /* Norme W3C */
  background:-moz-linear-gradient(#f0e9d6, #d2c9ac); /* Firefox */
  background:-webkit-linear-gradient(top, #f0e9d6 0%, #d2c9ac 100%); /* Chrome, Safari */
  background-image:-o-linear-gradient(#f0e9d6, #d2c9ac); /* Opera */
  background-image:-ms-linear-gradient(#f0e9d6, #d2c9ac); /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e9d6', endColorstr='#d2c9ac',GradientType=0 );
  cursor : pointer;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.centrer {
  text-align:center;
}

.centrer_tableau {
  margin:auto;
}

